DATABASE_URL="postgresql://postgres:password@localhost:5434/sportspal?schema=public"
SUPABASE_PROJECT_URL ="https://tgoumigkfogxeigtxhpb.supabase.co"
SUPABASE_API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRnb3VtaWdrZm9neGVpZ3R4aHBiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjMwMDY4MzgsImV4cCI6MjAzODU4MjgzOH0.5tA_fy0YgzRvVGaVme35Z-bRv9pZgADerAAA6BKbanw"